<nav class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a routerLink="/home" class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item"><a routerLink="/usuarios" class="pure-menu-link">Usuários</a></li>
    <li class="pure-menu-item"><a routerLink="/medicamentos" class="pure-menu-link">Medicamentos</a></li>
    <li class="pure-menu-item"><a routerLink="/medicos" class="pure-menu-link">Medicos</a></li>
    <li class="pure-menu-item"><a routerLink="/pacientes" class="pure-menu-link">Pacientes</a></li>
    <li class="pure-menu-item"><a routerLink="/logout" class="pure-menu-link">Logout</a></li>
  </ul>
</nav>
