.title{
  text-align: center;
  padding: 18px;
}

.title > h3{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.container{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-card-title{
  text-align: center;
  margin: 20px 0;
}

.conteudo-login input::placeholder{
  transition: 1s;
}

.card-login{
  width: 300px;
  box-shadow: 10px 5px 5px rgba(41, 39, 143, 0.8);
}

button{
  margin-left: 6px;
}
