<main>
  <mat-card-content class="container">
    <mat-card class="card-logout">
      <mat-card-title class="title">Logout</mat-card-title>
      <mat-card-title class="nome">{{this.Usuario.Email}},<br>tem certeza que deseja sair?</mat-card-title>
      <form>
        <div class="button">
          <button type="button" mat-flat-button mat-button-icon (click)="home()">
            Não
            <mat-icon>home</mat-icon>
          </button>
          <button type="button" mat-flat-button mat-button-icon (click)="sair()">
            Sim
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
  </mat-card-content>
</main>
